<%- include("partials/header"); -%>

<div class="deleter-header">
    <a href="/deleter" class="logo-wrapper hide-mobile">
        <img class="profile-img" src="img/icon.png" alt="">
        <p class="logo-title">tweet deleter</p>
    </a>
    
    <div class="left-wrapper">
        <div class="user-info-wrapper">
            <a href="https://twitter.com/<%= username %>"><img class="profile-img" src="<%= profileImgUrl %>" alt=""></a>
            <a class="username" href="https://twitter.com/<%= username %>">@<%= username %></a>
        </div>
    
        <a class="logout-link" href="/logout">logout <i class="fa fa-sign-out"></i></a>
    </div>
</div>

<div class="deleter-content-wrapper">
    <!-- Compose Tweet -->
    <form class="tweet-form" action="/tweet" method="POST">
        <textarea class="tweet-content" type="text" name="tweet" maxlength="280" rows="5" placeholder="Tweet something..."></textarea>

        <p class="char-count"></p>
        
        <button class="tweet-btn" type="submit">Tweet</button>
    </form>

    <% if(tweetSent) { %>
        <p class="success-msg">Your tweet was sent!</p>
    <% } %>

    <hr>

    <!-- Delete Likes -->
    <form id="delete-like-form" action="/delete-tweets" method="POST">
        <h1 class="form-title">Delete Tweets</h1>
        
        <div class="flex-row">
            <div class="stack-input">
                <div><label class="form-label" for="like-del-num">How many?</label>
                    <input id="tweet-del-num" class="tweet-del-num number-input" type="number" name="tweetDelNum" min="1" max="200" value="1"/></div>
    
                <!-- <div class="checkbox-wrapper flex-align-center">
                    <input class="like-del-checkbox" type="checkbox" id="like-del-max" name="likeDelMax" value="10">
                <label class="checkbox-label form-label" for="like-del-max">Max (200)</label><br>
                </div> -->
            </div>
    
            <button class="confirm-del-btn" type="submit"><i class="fa fa-trash"></i></button>       
        </div> 
    </form>

    <% if(tweetsDeleted) { %>
        <p class="success-msg">Your tweets were deleted!</p>
    <% } %>

    <!-- Delete Likes -->
    <form id="delete-like-form" action="/delete-likes" method="POST">
        <h1 class="form-title">Delete Likes</h1>
        
        <div class="flex-row">
            <div class="stack-input">
                <div><label class="form-label" for="like-del-num">How many?</label>
                    <input id="like-del-num" class="like-del-num number-input" type="number" name="likeDelNum" min="1" max="200" value="1"/></div>
    
                <div class="checkbox-wrapper flex-align-center">
                    <input class="like-del-checkbox" type="checkbox" id="like-del-max" name="likeDelMax" value="10">
                <label class="checkbox-label form-label" for="like-del-max">Max (200)</label><br>
                </div>
            </div>
    
            <button class="confirm-del-btn" type="submit"><i class="fa fa-trash"></i></button>       
        </div> 
    </form>

    <% if(likesDeleted) { %>
        <p class="success-msg">Your likes were deleted!</p>
    <% } %>
</div>

<script src="deleter.js"></script>

<%- include("partials/footer"); -%>